<style>
    .container {
    margin: auto;
    padding: 0 1rem;
    max-width: 71.25rem;
    width: 100%;
    }

    #footer {
    padding: .5rem 0;
    background-color: #457373;
    text-align: center;
    color: #fff; }

    #footer p {
    font-size: .85rem; }

    #footer p a {
    color: #fff;
    text-decoration: underline;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

    #footer p a:hover {
    color: #00ff6c; }

    #footer p .fa-heart {
    color: red; }

</style>

<section id="footer">
    <br><p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/profile.php?id=100014656830373" target="_blank">Natcha Suphapjan</a> <i class="fa fa-copyright" aria-hidden="true"></i>   2021</p>
</section>
  
</body>
</html>