<!-- <%- include('partials/h-user.ejs') %>

<br>
<h3>ARTIST
    <a href='/admin/addArt'>
        <i class="fa fa-plus-square"  aria-hidden="true"  >   
        </i>
    </a>
</h3>


<div class="artist">
  
  <figure class="snip1281 yellow">
    <img src="https://i.pinimg.com/564x/b5/f4/f4/b5f4f498a18f47a95ebcf1aa64cdc30f.jpg" alt="sample22" height="170px" width="500px"/>
    <figcaption>
      <h2>Three Man Down</h2>
    </figcaption>
    <a href="/admin/show"></a>
  </figure>

</div> 
 
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script> -->





















<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<%- include('partials/footer.ejs') %>